<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @h2o_customer.companyName %>
</p>

<%= link_to 'Edit', edit_h2o_customer_path(@h2o_customer) %> |
<%= link_to 'Back', h2o_customers_path %>
