<div class="row">
<div class="col-xs-12">
  <h3 class="page-header">
    PURCHASE ORDER
    <small class="pull-right">Due Date: <span class="invoice_header_date"></span></small>
  </h3>
</div><!-- /.col -->
</div>
              <!-- info row -->
<div class="row invoice-info">

<div class="col-xs-4 invoice-col">
  To
  <address>
    <div id= "modal_5"></div>
    <div id= "modal_6"></div>
    <div id= "modal_7"></div>
    <div id= "modal_8"></div>
  </address>
</div><!-- /.col -->

<div class="col-xs-4 invoice-col">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-xs-5"><label>PO #</label></div>
      <div class="col-xs-7"><p id="modal_invoice_number" class="pull-right"></p></div>
    </div>

    <div class="col-xs-12"></div>

    <div class="form-group">
      <div class="col-xs-4"><label>Date</label></div>
      <div class="col-xs-8"><span class="invoice_header_date pull-right"></span></div>
    </div>

  

  </form>
</div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
<div class="col-xs-12">
  <hr>
  <table class="table table-bordered" id="modal_items">
    <thead>
      <th class="item-name">Carrier</th>
      <th class="description">Model</th>
      <th class="unit">Unit Cost</th>
      <th class="quantity">Quantity</th>
      <th class="units">Price</th>
    </thead>

    <tbody id="modal_tbody">
    </tbody>
  </table>

</div>
</div>

<div class="row">
<div class="col-xs-6 col-xs-offset-6">
  <div class="">
    <table class="table" id="modal_totals">

        <th>Total:</th>
        <td class="balance"><span class="due">0.00</span></td>
      </tr>
    </table>
  </div>
</div><!-- /.col -->
</div>

<div id="modal_terms">
<h5>Terms</h5>
<h5>THIS QUOTE IS VALID FOR 30 DAYS</h5>
<span id="modal_10"></span>
</div>
