<div class="row">
	<div class="col-md-12 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
          <div class="panel-body">
            <%= render 'form', order: @order %>
          </div>

<%= link_to 'Back', orders_path, class: 'btn btn-warning'%>

</div>
</div>
</div>
</div>
